a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: lightgrey;
}
a:active {
    color: white;
}

#logo {
    display: block;
    width: 150px;
    margin-top: -30px;
    margin-left: 50px;
}

#link {
    display: block;
    margin: 10px;
}

#ad {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

#leftbox {
    padding-left: 50px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

#leftbox > *{
    width: 430px;
    overflow: hidden;
    min-height: 30px;
}

#leftbox .leftbox-header{
    background-image: url("images/banner_top.png");
    background-color: #222222;
    height: 60px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#leftbox .leftbox-nav{
    background-color: #222222;
    height: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#leftbox .leftbox-content{
    background-color: #443A3A;
    min-height: 400px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#leftbox .leftbox-ad{
    background-color: #222222;
    height: 150px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#leftbox .leftbox-header > span{
    display: block;
    text-align: right;
    color: #777777;
}

#leftboxSign {
    float: right;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
}

#leftboxMenu {
    font-weight: bold;
    color: white;
    background-color: #444444;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 21px;
    margin-right: 10px;
}

#leftboxLogo {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#leftboxUser {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
}

#leftboxControl {
    font-weight: normal;
    color: white;
    display: inline-block;
    margin-top: 5px;
    margin-left: 56px;
    margin-right: 7%;
    font-size: 14px;
    text-decoration: none;
}

